nav.navbar {
	margin-bottom: 0;
}
a.navbar-brand {
	float: left;
}
button.google {
	background-color: #eb6864;
	border-style: none;
	margin-left: 15px;
	margin-top: -20px;
	font-size: 23px;
}
a {
	color: white;
}
