.jumbotron {
  min-height: 500px;
  padding-top: 75px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: black;
}

div.jumbotron h4 {
	color: #eb6864;
}

div.jumbotron h1 {
	margin-top: -65px;
}

.btn-lg, .btn-group-lg>.btn {
	background-color: #eb6864;
	margin-right: 10px;
	border-color: #eb6864;
	color: white;
}

.btn-lg, .btn-group-lg>.btn hover{
	color: grey;
}

.hidden {
	display: none;
}

h1.homepage {
	text-align: center;
	color: white;
  	padding-top: 140px;
}
h2.homepage {
	text-align: center;
	color: white;
}