.jumbotron {
  min-height: 300px;
  padding-top: 75px;
  background-image: url("../../assets/images/dogsandcats.png");
  background-position: bottom;
  background-repeat: repeat-x;
  opacity: 0.9;
}

div.jumbotron h4 {
	color: #eb6864;
}

div.jumbotron h1 {
	margin-top: -65px;
}

.btn-lg, .btn-group-lg>.btn {
	background-color: #eb6864;
	margin-right: 10px;
	border-color: #eb6864;
	color: white;
}

.btn-lg, .btn-group-lg>.btn hover{
	color: grey;
}

.hidden {
	display: none;
}